<html lang = "en">
    <%- include('./Partial/head.ejs') %> 
<body>
    <%- include('./Partial/nav.ejs') %>
      <div class="About content">
        <h2>About Us</h2>
        <p>Blogging is the act of creating and maintaining an online platform, typically called a blog, where individuals or organizations share their thoughts, ideas, opinions, and experiences on various topics. A blog often takes the form of a regularly updated website or web page, with new content displayed in reverse chronological order.

          Bloggers, also known as content creators or writers, publish articles or posts on their blogs to engage with their audience. These posts can cover a wide range of subjects, such as personal experiences, travel, fashion, technology, food, politics, or any other topic of interest. Bloggers may focus on a specific niche or cover multiple subjects depending on their preferences and target audience.
          
          Blogging provides a platform for individuals to express themselves, share their expertise, provide helpful information, entertain, or even promote products and services. Blogs often allow readers to leave comments, facilitating discussions and interactions between the blogger and their audience.</p>
      </div>
      <%- include('./Partial/footer.ejs') %>
      </body>
      </html>